  <table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data de nascimento</th>
      <th width="50"height="30" ></th>
      <th width="30"height="30"> </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= cliente.name %></td>
      <td><%= cliente.datadenascimento %></td>
      <td><%= button_to "Apagar", @cliente, method: :delete, class: "button" %></td>
    </tr>
</div>
